<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>@ViewBag.Title</title>
    <style>
        thead td 
        {
            font-weight: bold;
        }
        td
        {
            border-style: solid;
            border-width: thin;
            padding: 2px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
